<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Smartphone</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<div id="container">
    <h1>Create new Smartphone</h1>
    <div>
        <p>Here you can create new Smartphone:</p>
        <div id="sPhoneFromResponse"></div>
    </div>
    <form id="newSmartphoneForm" method="post" th:object="${smartphone}">
        <table>
            <tbody>
            <tr>
                <td>Producer:</td>
                <td>
                    <select id="producer">
                        <option value="NOKIA">Nokia</option>
                        <option selected="selected" value="IPHONE">iPhone</option>
                        <option value="HTC">HTC</option>
                        <option value="SAMSUNG">Samsung</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Model:</td>
                <td><input th:field="*{model}" /></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input th:field="*{price}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Create" /></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </form>
    <a th:href="@{/smartphones}">Back to Smart Phone list</a>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // su kien nao dung ajax
        $('#newSmartphoneForm').submit(function (event) {

            // lay du lieu nhu the nao
            let producer = $('#producer').val();
            let model = $('#model').val();
            let price = $('#price').val();
            // chuyen sang dang json
            let json = {"producer" : producer, "model" : model, "price" : price};

            // cu phap de thuc hien ajax
            $.ajax({

                // kieu du lieu minh chuyen len
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                // phuong thuc phia api
                type: "POST",
                data: JSON.stringify(json),

                // ten api
                url: "/create",

                // xu li khi thanh cong
                success: function (smartPhone) {

                    // phan tach du lieu
                    let respContent = "";
                    respContent += "<span class='success'>Smartphone was created: [";
                    respContent += smartPhone.producer + " : ";
                    respContent += smartPhone.model + " : ";
                    respContent += smartPhone.price + "]</span>";

                    // hien thi du lieu
                    $("#sPhoneFromResponse").html(respContent);
                }
            });
            event.preventDefault();
        })
    })
</script>
</body>
</html>